*{
    background-color: rgb(252, 231, 231);
}
h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: lightcoral;
}
h2{
    color: rgb(252, 231, 231);
}

body {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    color: rgb(203, 125, 125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
}

.header > h1{
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(255, 109, 109);
    font-size: 1.5em;
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-bar > h1 {
    display: none;
}

.image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
    grid-gap: 5% 5%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.image-grid-item {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgb(255, 115, 115);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-grid-item:hover .overlay {
    opacity: 1;
}

.icon-container{
    display: none;
}

@media (max-width: 400px) {
    .nav-bar > h1 {
        display: block;
    }

    .icon-container{
        display: block;
    }

    .nav-bar {
        background-color: rgb(231, 130, 130);
        opacity: 0%;
        position: absolute;
        top: 0px;
        flex-direction: column;
        color: rgb(255, 109, 109);
        height: 100%;
        width: 0%;
        justify-content: center;
        align-items: center;
        transition: width 1s ease-out, opacity 1s ease-out;
        z-index: 1;
    }

    a {
        color: white;
        background-color: rgb(231, 130, 130);
    }

    .image-grid {
        grid-template-columns: 100%;
    }
}

@media (min-width:400px){
    .nav-bar{
        transition: width 1s ease-in opacity 1s ease-in;
    }
}

.image-description{
    padding: .8em;
    text-align: center;
}
